/* Para el styling de elementos que querramos que todas las páginas compartan */
:root {
    --primary-color: #07613b;
    --primary-color-hover: #064f34;

    --primary-color-dark: #064f34;
    --primary-color-light: #7bbe9f;
    
    --secondary-color: #cbe2fd;
    --secondary-color-hover: #97c8ff;

    --accept-color: #00c700;
    --accept-color-hover: #00b300;

    --cancel-color: #c70000;
    --cancel-color-hover: #b30000;

    --text-dark-color:  #15161a;
    --text-mid-color: #6f7579;
    --text-light-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: Verdana, sans-serif;
    background: var(--secondary-color);
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    padding: 2rem 0;
}
