header{
    background-color: var(--primary-color);
    text-align: center;
    margin: 0;
    color: var(--text-light-color);
    padding: 2em;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}