table input {
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid #dddddd;
}

table button {
    width: 35px;
    height: 35px;
    margin: 0 3px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

button.edit {
    background-color: var(--primary-color);
}

button.edit:hover {
    background-color: var(--primary-color-hover);
}

button.confirm {
    background-color: var(--accept-color);
}

button.confirm:hover {
    background-color: var(--accept-color-hover);
}

button.delete {
    background-color:var(--cancel-color);
}

button.delete:hover {
    background-color:var(--cancel-color-hover);
}

button.add {
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
}

button.add:hover {
    background-color: var(--primary-color-hover);
}

#add-student-row {
    display: none;
}
