table {
    width: 80%;
    margin: 1em auto;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
}

th, td {
  text-align: left;
}

th {
    background: var(--primary-color);
    color: var(--text-light-color);
    padding: 12px 15px;
    font-size: 1rem;
}

td {
    color: var(--text-dark-color);
    padding: 10px 15px;
    font-size: 0.95rem;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

th:last-child,
td:last-child {
  width: 80px;
  text-align: right;
  white-space: nowrap;
}

table tr:nth-child(even) td {
    background-color: #f0f0f0;
}

table input {
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid #dddddd;
}

table button {
    width: 35px;
    height: 35px;
    margin: 0 3px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

button.edit {
    background-color: var(--primary-color);
}

button.edit:hover {
    background-color: var(--primary-color-hover);
}

button.confirm {
    background-color: var(--accept-color);
}

button.confirm:hover {
    background-color: var(--accept-color-hover);
}

button.delete {
    background-color:var(--cancel-color);
}

button.delete:hover {
    background-color:var(--cancel-color-hover);
}

button.add {
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
}

button.add:hover {
    background-color: var(--primary-color-hover);
}

#add-row {
    display: none;
}