
.table-wrapper {
  width: 100%;
  overflow-x: auto; /* scroll horizontal*/
  display: flex;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0.5rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 40rem;
  text-align: center;
  table-layout: fixed;
}

table svg {
    height: 100%;
    width: auto;
}


th {
    background: var(--primary-color);
    color: var(--text-light-color);
    padding: 0.5rem 0.2rem;
    word-wrap: break-word;
    white-space: normal;
    position: relative;
}

.th-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    color: var(--text-dark-color);
    padding: 0.5rem 0.5rem;
    font-size: 0.95rem;
    border-top: 1px solid var(--text-mid-color);
    word-wrap: break-word;
    white-space: normal;
}



table tr:nth-child(even) td {
    background-color: #f0f0f0;
}

table input {
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

table input:focus{
    outline: none;
}

table button {
    width: 35px;
    height: 35px;
    margin: 0 3px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s ease-in-out;
}


button.edit {
    color: var(--primary-color);
}

button.edit:hover {
    color: var(--primary-color-dark);
}

button.confirm {
    color: var(--accept-color);
}

button.confirm:hover {
    color: var(--accept-color-hover);
}

button.delete {
    color: var(--cancel-color);
}

button.delete:hover {
    color: var(--cancel-color-hover);
}

button.add, button.field-menu {
    color: var(--text-light-color);
    background-color: var(--primary-color);
}

button.add:hover, button.field-menu:hover {
    color: var(--text-mid-color);
}

#add-row {
    display: none;
}

@media (max-width: 768px) {
  table, thead, tbody, tr, td, th {
    display: block;
    width: 100%;
    overflow-x: hidden;
    min-width: unset;
  }


  thead {
    display: none;
  }

  tr {
    background: #fff;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }

  td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    border: none;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
    flex: 0 0 45%;
  }
}